.top-block {
  --icon-wdth: 18px;
  
  display: grid;
  grid-template-columns: var(--icon-wdth) 1fr var(--icon-wdth);
  justify-items: center;
  align-items: center;
  
  @include onDesktop {
    --icon-wdth: 24px;
  }
}
